deprecated/novdocx.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- ...................................................................... -->
<!-- novdoc DTD V1.0 ...................................................... -->
<!-- File novdoc.dtd ...................................................... -->
<!--
  novdocx.dtd is a subset of DocBook and all instances should be valid
  DocBook files, however, the docbookx.dtd is not directly referenced.
  
  Please use the following formal public identifier:
  
  "-//Novell//DTD NovDoc XML V1.0//EN" "novdocx.dtd"
  
  The following is copyright information required for the docbook dtd:
  
  Copyright 1992-2002 HaL Computer Systems, Inc.,
  O'Reilly & Associates, Inc., ArborText, Inc., Fujitsu Software
  Corporation, Norman Walsh, Sun Microsystems, Inc., and the
  Organization for the Advancement of Structured Information
  Standards (OASIS).
  
  $Id: novdocx.dtd 42467 2009-06-22 16:16:33Z toms $
  
  Permission to use, copy, modify and distribute the DocBook XML DTD
  and its accompanying documentation for any purpose and without fee
  is hereby granted in perpetuity, provided that the above copyright
  notice and this paragraph appear in all copies.  The copyright
  holders make no representation about the suitability of the DTD for
  any purpose.  It is provided "as is" without expressed or implied
  warranty.
-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xs:import namespace="http://www.w3.org/XML/1998/namespace" schemaLocation="xml.xsd"/>
  <xs:element name="admonitions" abstract="true">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="admonition.module">
          <xs:attribute name="id" type="xs:ID"/>
          <xs:attributeGroup ref="profiling.attributes"/>
          <xs:attributeGroup ref="xmlbase"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="lists" abstract="true"/>
  <xs:element name="tables" abstract="true"/>
  <xs:element name="figures" abstract="true"/>
  <!-- CHANGE_SEP_28 added bridgehead to common group and removed the other specific instances -->
  <xs:group name="common">
    <xs:choice>
      <xs:element ref="bridgehead"/>
      <xs:element ref="example"/>
      <xs:element ref="screen"/>
      <xs:element ref="remark"/>
      <xs:element ref="para"/>
      <xs:element ref="formalpara"/>
      <xs:element ref="indexterm"/>
    </xs:choice>
  </xs:group>
  <xs:group name="all">
    <xs:choice>
      <xs:element ref="admonitions"/>
      <xs:element ref="lists"/>
      <xs:element ref="figures"/>
      <xs:element ref="tables"/>
      <xs:group ref="common"/>
    </xs:choice>
  </xs:group>
  <xs:element name="xrefinlines" abstract="true"/>
  <xs:group name="coreinlines">
    <xs:choice>
      <xs:element ref="command"/>
      <xs:element ref="envar"/>
      <xs:element ref="productname"/>
      <xs:element ref="literal"/>
      <xs:element ref="emphasis"/>
      <xs:element ref="option"/>
      <xs:element ref="replaceable"/>
      <xs:element ref="remark"/>
      <xs:element ref="filename"/>
      <xs:element ref="citetitle"/>
      <xs:element ref="quote"/>
      <xs:element ref="phrase"/>
      <xs:element ref="systemitem"/>
      <xs:element ref="guimenu"/>
      <xs:element ref="subscript"/>
      <xs:element ref="superscript"/>
      <xs:element ref="trademark"/>
      <xs:element ref="varname"/>
    </xs:choice>
  </xs:group>
  <xs:group name="basicinlines">
    <xs:choice>
      <xs:group ref="coreinlines"/>
      <xs:element ref="indexterm"/>
    </xs:choice>
  </xs:group>
  <xs:element name="guiinlines" abstract="true"/>
  <xs:group name="allinlines">
    <xs:choice>
      <xs:element ref="xrefinlines"/>
      <xs:group ref="basicinlines"/>
      <xs:element ref="guiinlines"/>
      <xs:element ref="inlinemediaobject"/>
    </xs:choice>
  </xs:group>
  <!-- Profiling information (attributes) -->
  <xs:attributeGroup name="profiling.attributes">
    <xs:attribute name="os"/>
    <xs:attribute name="arch"/>
    <xs:attribute name="condition"/>
  </xs:attributeGroup>
  <xs:attributeGroup name="xmlbase">
    <xs:attribute ref="xml:base"/>
  </xs:attributeGroup>
  <xs:element name="set">
    <xs:complexType>
      <xs:sequence>
        <xs:sequence minOccurs="0">
          <xs:element ref="title"/>
          <xs:element minOccurs="0" ref="subtitle"/>
          <xs:element minOccurs="0" ref="titleabbrev"/>
        </xs:sequence>
        <xs:element minOccurs="0" ref="toc"/>
        <xs:element maxOccurs="unbounded" ref="book"/>
        <xs:element minOccurs="0" ref="setindex"/>
      </xs:sequence>
      <xs:attribute name="lang"/>
      <xs:attribute name="id" type="xs:ID"/>
      <xs:attributeGroup ref="profiling.attributes"/>
      <xs:attributeGroup ref="xmlbase"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="book">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="bookinfo"/>
        <xs:element minOccurs="0" ref="preface"/>
        <xs:choice maxOccurs="unbounded">
          <xs:element ref="part"/>
          <xs:element ref="chapter"/>
          <xs:element ref="article"/>
        </xs:choice>
        <xs:choice minOccurs="0" maxOccurs="unbounded">
          <xs:element ref="appendix"/>
          <xs:element ref="glossary"/>
        </xs:choice>
        <xs:element minOccurs="0" ref="index"/>
      </xs:sequence>
      <xs:attribute name="revision"/>
      <xs:attribute name="role"/>
      <xs:attribute name="conformance"/>
      <xs:attribute name="lang"/>
      <xs:attribute name="id" type="xs:ID"/>
      <xs:attributeGroup ref="profiling.attributes"/>
      <xs:attributeGroup ref="xmlbase"/>
    </xs:complexType>
  </xs:element>
  <!-- change require title in bookinfo  this will be full book title used for links to bookinfo but not displayed -->
  <xs:element name="bookinfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="title"/>
        <xs:element ref="productname"/>
        <xs:element minOccurs="0" ref="productnumber"/>
        <xs:element minOccurs="0" ref="date"/>
        <xs:element minOccurs="0" ref="titleabbrev"/>
        <xs:element maxOccurs="unbounded" ref="legalnotice"/>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="authorgroup"/>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="abstract"/>
      </xs:sequence>
      <xs:attribute name="id" type="xs:ID"/>
      <xs:attribute name="role"/>
      <xs:attributeGroup ref="profiling.attributes"/>
      <xs:attributeGroup ref="xmlbase"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="article">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="title"/>
        <xs:element minOccurs="0" ref="subtitle"/>
        <xs:element minOccurs="0" ref="articleinfo"/>
        <xs:choice>
          <xs:sequence>
            <xs:choice maxOccurs="unbounded">
              <xs:element ref="calloutlist"/>
              <xs:element ref="itemizedlist"/>
              <xs:element ref="orderedlist"/>
              <xs:element ref="variablelist"/>
              <xs:element ref="important"/>
              <xs:element ref="note"/>
              <xs:element ref="tip"/>
              <xs:element ref="warning"/>
              <xs:element ref="screen"/>
              <xs:element ref="formalpara"/>
              <xs:element ref="para"/>
              <xs:element ref="mediaobject"/>
              <xs:element ref="informaltable"/>
              <xs:element ref="example"/>
              <xs:element ref="figure"/>
              <xs:element ref="table"/>
              <xs:element ref="procedure"/>
              <xs:element ref="bridgehead"/>
              <xs:element ref="remark"/>
              <xs:element ref="abstract"/>
              <xs:element ref="indexterm"/>
            </xs:choice>
            <xs:choice>
              <xs:element minOccurs="0" maxOccurs="unbounded" ref="sect1"/>
              <xs:element minOccurs="0" maxOccurs="unbounded" ref="refentry"/>
            </xs:choice>
          </xs:sequence>
          <xs:choice>
            <xs:element maxOccurs="unbounded" ref="sect1"/>
            <xs:element maxOccurs="unbounded" ref="refentry"/>
          </xs:choice>
        </xs:choice>
        <xs:choice minOccurs="0" maxOccurs="unbounded">
          <xs:element ref="index"/>
          <xs:element ref="glossary"/>
          <xs:element ref="appendix"/>
        </xs:choice>
      </xs:sequence>
      <xs:attribute name="id" type="xs:ID"/>
      <xs:attribute name="role"/>
      <xs:attribute name="lang"/>
      <xs:attribute name="class">
        <xs:simpleType>
          <xs:restriction base="xs:token">
            <xs:enumeration value="faq"/>
            <xs:enumeration value="journalarticle"/>
            <xs:enumeration value="productsheet"/>
            <xs:enumeration value="specification"/>
            <xs:enumeration value="techreport"/>
            <xs:enumeration value="whitepaper"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attributeGroup ref="xmlbase"/>
      <xs:attributeGroup ref="profiling.attributes"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="articleinfo">
    <xs:complexType>
      <xs:choice maxOccurs="unbounded">
        <xs:element ref="author"/>
        <xs:element ref="authorgroup"/>
        <xs:element ref="date"/>
        <xs:element ref="productname"/>
        <xs:element ref="productnumber"/>
        <xs:element ref="legalnotice"/>
        <xs:element ref="indexterm"/>
        <xs:element ref="abstract"/>
      </xs:choice>
      <xs:attribute name="role"/>
      <xs:attributeGroup ref="xmlbase"/>
      <xs:attributeGroup ref="profiling.attributes"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="preface">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="title"/>
        <xs:choice>
          <xs:sequence>
            <xs:choice maxOccurs="unbounded">
              <xs:group ref="all"/>
              <xs:element ref="procedure"/>
            </xs:choice>
            <xs:element minOccurs="0" maxOccurs="unbounded" ref="sect1"/>
          </xs:sequence>
          <xs:element maxOccurs="unbounded" ref="sect1"/>
        </xs:choice>
      </xs:sequence>
      <xs:attribute name="id" type="xs:ID"/>
      <xs:attributeGroup ref="profiling.attributes"/>
      <xs:attributeGroup ref="xmlbase"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="part">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="title"/>
        <xs:element minOccurs="0" ref="partintro"/>
        <xs:choice>
          <xs:sequence>
            <xs:element maxOccurs="unbounded" ref="chapter"/>
            <xs:element minOccurs="0" maxOccurs="unbounded" ref="appendix"/>
          </xs:sequence>
          <xs:element maxOccurs="unbounded" ref="appendix"/>
        </xs:choice>
      </xs:sequence>
      <xs:attribute name="revision"/>
      <xs:attribute name="conformance"/>
      <xs:attribute name="id" type="xs:ID"/>
      <xs:attributeGroup ref="profiling.attributes"/>
      <xs:attributeGroup ref="xmlbase"/>
    </xs:complexType>
  </xs:element>
  <!-- CHANGE_SEP_28 added msgset to Appendix, Chapter and Sect1 -->
  <xs:element name="appendix">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="title"/>
        <xs:choice maxOccurs="unbounded">
          <xs:group ref="all"/>
          <xs:element ref="procedure"/>
        </xs:choice>
        <xs:choice>
          <xs:element minOccurs="0" maxOccurs="unbounded" ref="sect1"/>
          <xs:element minOccurs="0" maxOccurs="unbounded" ref="refentry"/>
          <xs:element minOccurs="0" ref="msgset"/>
        </xs:choice>
      </xs:sequence>
      <xs:attribute name="id" type="xs:ID"/>
      <xs:attributeGroup ref="profiling.attributes"/>
      <xs:attributeGroup ref="xmlbase"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="chapter">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="title"/>
        <xs:choice maxOccurs="unbounded">
          <xs:element ref="abstract"/>
          <xs:group ref="all"/>
          <xs:element ref="procedure"/>
        </xs:choice>
        <xs:choice>
          <xs:element minOccurs="0" maxOccurs="unbounded" ref="sect1"/>
          <xs:element minOccurs="0" maxOccurs="unbounded" ref="refentry"/>
          <xs:element minOccurs="0" ref="msgset"/>
        </xs:choice>
      </xs:sequence>
      <xs:attribute name="role"/>
      <xs:attribute name="conformance"/>
      <xs:attribute name="id" type="xs:ID"/>
      <xs:attribute name="revision"/>
      <xs:attribute name="lang"/>
      <xs:attributeGroup ref="profiling.attributes"/>
      <xs:attributeGroup ref="xmlbase"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="abstract">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" ref="title"/>
        <xs:element maxOccurs="unbounded" ref="para"/>
      </xs:sequence>
      <xs:attribute name="id" type="xs:ID"/>
      <xs:attributeGroup ref="profiling.attributes"/>
      <xs:attributeGroup ref="xmlbase"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="index">
    <xs:complexType>
      <xs:attributeGroup ref="profiling.attributes"/>
      <xs:attributeGroup ref="xmlbase"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="setindex">
    <xs:complexType>
      <xs:attributeGroup ref="profiling.attributes"/>
      <xs:attributeGroup ref="xmlbase"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="toc">
    <xs:complexType/>
  </xs:element>
  <!-- sections -->
  <xs:element name="sect1">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="title"/>
        <xs:choice maxOccurs="unbounded">
          <xs:group ref="all"/>
          <xs:element ref="procedure"/>
        </xs:choice>
        <xs:choice>
          <xs:element minOccurs="0" maxOccurs="unbounded" ref="sect2"/>
          <xs:element minOccurs="0" maxOccurs="unbounded" ref="refentry"/>
          <xs:element minOccurs="0" ref="msgset"/>
        </xs:choice>
      </xs:sequence>
      <xs:attribute name="role"/>
      <xs:attribute name="id" type="xs:ID"/>
      <xs:attributeGroup ref="profiling.attributes"/>
      <xs:attributeGroup ref="xmlbase"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="sect2">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="title"/>
        <xs:choice maxOccurs="unbounded">
          <xs:group ref="all"/>
          <xs:element ref="procedure"/>
        </xs:choice>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="sect3"/>
      </xs:sequence>
      <xs:attribute name="role"/>
      <xs:attribute name="id" type="xs:ID"/>
      <xs:attributeGroup ref="profiling.attributes"/>
      <xs:attributeGroup ref="xmlbase"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="sect3">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="title"/>
        <xs:choice maxOccurs="unbounded">
          <xs:group ref="all"/>
          <xs:element ref="procedure"/>
        </xs:choice>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="sect4"/>
      </xs:sequence>
      <xs:attribute name="role"/>
      <xs:attribute name="id" type="xs:ID"/>
      <xs:attributeGroup ref="profiling.attributes"/>
      <xs:attributeGroup ref="xmlbase"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="sect4">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="title"/>
        <xs:choice maxOccurs="unbounded">
          <xs:group ref="all"/>
          <xs:element ref="procedure"/>
        </xs:choice>
      </xs:sequence>
      <xs:attribute name="role"/>
      <xs:attribute name="id" type="xs:ID"/>
      <xs:attributeGroup ref="profiling.attributes"/>
      <xs:attributeGroup ref="xmlbase"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="partintro">
    <xs:complexType>
      <xs:sequence>
        <xs:group maxOccurs="unbounded" ref="all"/>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="sect1"/>
      </xs:sequence>
      <xs:attributeGroup ref="profiling.attributes"/>
      <xs:attributeGroup ref="xmlbase"/>
    </xs:complexType>
  </xs:element>
  <!-- inlines -->
  <xs:element name="application">
    <xs:complexType mixed="true">
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:element ref="phrase"/>
        <xs:element ref="remark"/>
      </xs:choice>
      <xs:attributeGroup ref="profiling.attributes"/>
      <xs:attributeGroup ref="xmlbase"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="command">
    <xs:complexType mixed="true">
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:element ref="option"/>
        <xs:element ref="replaceable"/>
        <xs:element ref="remark"/>
      </xs:choice>
      <xs:attributeGroup ref="profiling.attributes"/>
      <xs:attributeGroup ref="xmlbase"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="envar">
    <xs:complexType mixed="true">
      <xs:attributeGroup ref="profiling.attributes"/>
      <xs:attributeGroup ref="xmlbase"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="literal">
    <xs:complexType mixed="true">
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:element ref="replaceable"/>
        <xs:element ref="remark"/>
      </xs:choice>
      <xs:attributeGroup ref="profiling.attributes"/>
      <xs:attributeGroup ref="xmlbase"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="emphasis">
    <xs:complexType mixed="true">
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:element ref="xrefinlines"/>
        <xs:group ref="basicinlines"/>
        <xs:element ref="guiinlines"/>
      </xs:choice>
      <xs:attribute name="role"/>
      <xs:attributeGroup ref="profiling.attributes"/>
      <xs:attributeGroup ref="xmlbase"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="citetitle">
    <xs:complexType mixed="true">
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:element ref="phrase"/>
        <xs:element ref="remark"/>
        <xs:element ref="xrefinlines"/>
      </xs:choice>
      <xs:attributeGroup ref="profiling.attributes"/>
      <xs:attributeGroup ref="xmlbase"/>
      <xs:attribute name="pubwork">
        <xs:simpleType>
          <xs:restriction base="xs:token">
            <xs:enumeration value="article"/>
            <xs:enumeration value="bbs"/>
            <xs:enumeration value="book"/>
            <xs:enumeration value="cdrom"/>
            <xs:enumeration value="chapter"/>
            <xs:enumeration value="dvd"/>
            <xs:enumeration value="emailmessage"/>
            <xs:enumeration value="gopher"/>
            <xs:enumeration value="journal"/>
            <xs:enumeration value="manuscript"/>
            <xs:enumeration value="newsposting"/>
            <xs:enumeration value="part"/>
            <xs:enumeration value="refentry"/>
            <xs:enumeration value="section"/>
            <xs:enumeration value="series"/>
            <xs:enumeration value="set"/>
            <xs:enumeration value="webpage"/>
            <xs:enumeration value="wiki"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
    </xs:complexType>
  </xs:element>
  <xs:element name="option">
    <xs:complexType mixed="true">
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:element ref="replaceable"/>
        <xs:element ref="remark"/>
      </xs:choice>
      <xs:attributeGroup ref="profiling.attributes"/>
      <xs:attributeGroup ref="xmlbase"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="replaceable">
    <xs:complexType mixed="true">
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="remark"/>
      </xs:sequence>
      <xs:attributeGroup ref="profiling.attributes"/>
      <xs:attributeGroup ref="xmlbase"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="filename">
    <xs:complexType mixed="true">
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:element ref="replaceable"/>
        <xs:element ref="remark"/>
      </xs:choice>
      <xs:attributeGroup ref="profiling.attributes"/>
      <xs:attributeGroup ref="xmlbase"/>
    </xs:complexType>
  </xs:element>
  <!-- CHANGE quote can contain other inlines -->
  <xs:element name="quote">
    <xs:complexType mixed="true">
      <xs:group minOccurs="0" maxOccurs="unbounded" ref="allinlines"/>
      <xs:attributeGroup ref="profiling.attributes"/>
      <xs:attributeGroup ref="xmlbase"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="phrase">
    <xs:complexType mixed="true">
      <xs:group minOccurs="0" maxOccurs="unbounded" ref="allinlines"/>
      <xs:attribute name="role"/>
      <xs:attributeGroup ref="profiling.attributes"/>
      <xs:attributeGroup ref="xmlbase"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="productname">
    <xs:complexType mixed="true">
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:element ref="phrase"/>
        <xs:element ref="remark"/>
        <xs:element ref="superscript"/>
      </xs:choice>
      <xs:attributeGroup ref="profiling.attributes"/>
      <xs:attributeGroup ref="xmlbase"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="productnumber">
    <xs:complexType mixed="true">
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:element ref="phrase"/>
        <xs:element ref="remark"/>
        <xs:element ref="superscript"/>
      </xs:choice>
      <xs:attributeGroup ref="profiling.attributes"/>
      <xs:attributeGroup ref="xmlbase"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="systemitem">
    <xs:complexType mixed="true">
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="remark"/>
      </xs:sequence>
      <xs:attribute name="class">
        <xs:simpleType>
          <xs:restriction base="xs:token">
            <xs:enumeration value="constant"/>
            <xs:enumeration value="daemon"/>
            <xs:enumeration value="domainname"/>
            <xs:enumeration value="etheraddress"/>
            <xs:enumeration value="event"/>
            <xs:enumeration value="eventhandler"/>
            <xs:enumeration value="filesystem"/>
            <xs:enumeration value="fqdomainname"/>
            <xs:enumeration value="groupname"/>
            <xs:enumeration value="ipaddress"/>
            <xs:enumeration value="library"/>
            <xs:enumeration value="macro"/>
            <xs:enumeration value="netmask"/>
            <xs:enumeration value="newsgroup"/>
            <xs:enumeration value="osname"/>
            <xs:enumeration value="process"/>
            <xs:enumeration value="resource"/>
            <xs:enumeration value="server"/>
            <xs:enumeration value="service"/>
            <xs:enumeration value="systemname"/>
            <xs:enumeration value="username"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attributeGroup ref="profiling.attributes"/>
      <xs:attributeGroup ref="xmlbase"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="varname" type="xs:string"/>
  <!-- Curtis, do we need that according to legal issues? -->
  <xs:element name="trademark">
    <xs:complexType mixed="true">
      <xs:attribute name="class">
        <xs:simpleType>
          <xs:restriction base="xs:token">
            <xs:enumeration value="service"/>
            <xs:enumeration value="trade"/>
            <xs:enumeration value="registered"/>
            <xs:enumeration value="copyright"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attributeGroup ref="profiling.attributes"/>
      <xs:attributeGroup ref="xmlbase"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="co">
    <xs:complexType>
      <xs:attribute name="id" type="xs:ID"/>
      <xs:attributeGroup ref="xmlbase"/>
      <xs:attributeGroup ref="profiling.attributes"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="xref" substitutionGroup="xrefinlines">
    <xs:complexType>
      <xs:attribute name="linkend" use="required" type="xs:IDREF"/>
      <xs:attribute name="xrefstyle"/>
      <xs:attributeGroup ref="profiling.attributes"/>
      <xs:attributeGroup ref="xmlbase"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="link" substitutionGroup="xrefinlines">
    <xs:complexType mixed="true">
      <xs:group minOccurs="0" maxOccurs="unbounded" ref="basicinlines"/>
      <xs:attribute name="linkend" use="required" type="xs:IDREF"/>
      <xs:attributeGroup ref="profiling.attributes"/>
      <xs:attributeGroup ref="xmlbase"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="ulink" substitutionGroup="xrefinlines">
    <xs:complexType mixed="true">
      <xs:group minOccurs="0" maxOccurs="unbounded" ref="basicinlines"/>
      <xs:attribute name="url" use="required"/>
      <xs:attribute name="role"/>
      <xs:attribute name="type"/>
      <xs:attributeGroup ref="profiling.attributes"/>
      <xs:attributeGroup ref="xmlbase"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="keycombo" substitutionGroup="guiinlines">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="keycap"/>
      </xs:sequence>
      <xs:attribute name="action">
        <xs:simpleType>
          <xs:restriction base="xs:token">
            <xs:enumeration value="press"/>
            <xs:enumeration value="seq"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attributeGroup ref="profiling.attributes"/>
      <xs:attributeGroup ref="xmlbase"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="keycap" substitutionGroup="guiinlines">
    <xs:complexType mixed="true">
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="remark"/>
      </xs:sequence>
      <xs:attribute name="function">
        <xs:simpleType>
          <xs:restriction base="xs:token">
            <xs:enumeration value="alt"/>
            <xs:enumeration value="backspace"/>
            <xs:enumeration value="command"/>
            <xs:enumeration value="control"/>
            <xs:enumeration value="delete"/>
            <xs:enumeration value="down"/>
            <xs:enumeration value="end"/>
            <xs:enumeration value="enter"/>
            <xs:enumeration value="escape"/>
            <xs:enumeration value="home"/>
            <xs:enumeration value="insert"/>
            <xs:enumeration value="left"/>
            <xs:enumeration value="meta"/>
            <xs:enumeration value="option"/>
            <xs:enumeration value="other"/>
            <xs:enumeration value="pagedown"/>
            <xs:enumeration value="pageup"/>
            <xs:enumeration value="right"/>
            <xs:enumeration value="shift"/>
            <xs:enumeration value="space"/>
            <xs:enumeration value="tab"/>
            <xs:enumeration value="up"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attributeGroup ref="profiling.attributes"/>
      <xs:attributeGroup ref="xmlbase"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="menuchoice" substitutionGroup="guiinlines">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" ref="shortcut"/>
        <xs:element maxOccurs="unbounded" ref="guimenu"/>
      </xs:sequence>
      <xs:attributeGroup ref="profiling.attributes"/>
      <xs:attributeGroup ref="xmlbase"/>
    </xs:complexType>
  </xs:element>
  <!-- toms -->
  <xs:element name="shortcut">
    <xs:complexType>
      <xs:choice>
        <xs:element ref="keycombo"/>
        <xs:element maxOccurs="unbounded" ref="keycap"/>
      </xs:choice>
      <xs:attributeGroup ref="profiling.attributes"/>
      <xs:attributeGroup ref="xmlbase"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="guimenu">
    <xs:complexType mixed="true">
      <xs:attributeGroup ref="profiling.attributes"/>
      <xs:attributeGroup ref="xmlbase"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="subscript">
    <xs:complexType mixed="true">
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="remark"/>
      </xs:sequence>
      <xs:attributeGroup ref="profiling.attributes"/>
      <xs:attributeGroup ref="xmlbase"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="superscript">
    <xs:complexType mixed="true">
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="remark"/>
      </xs:sequence>
      <xs:attributeGroup ref="profiling.attributes"/>
      <xs:attributeGroup ref="xmlbase"/>
    </xs:complexType>
  </xs:element>
  <!-- common -->
  <xs:element name="bridgehead">
    <xs:complexType mixed="true">
      <xs:group minOccurs="0" maxOccurs="unbounded" ref="coreinlines"/>
      <xs:attributeGroup ref="profiling.attributes"/>
      <xs:attributeGroup ref="xmlbase"/>
      <xs:attribute name="renderas">
        <xs:simpleType>
          <xs:restriction base="xs:token">
            <xs:enumeration value="sect1"/>
            <xs:enumeration value="sect2"/>
            <xs:enumeration value="sect3"/>
            <xs:enumeration value="sect4"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="id" type="xs:ID"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="title">
    <xs:complexType mixed="true">
      <xs:group minOccurs="0" maxOccurs="unbounded" ref="coreinlines"/>
      <xs:attributeGroup ref="profiling.attributes"/>
      <xs:attributeGroup ref="xmlbase"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="subtitle">
    <xs:complexType mixed="true">
      <xs:group minOccurs="0" maxOccurs="unbounded" ref="coreinlines"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="titleabbrev">
    <xs:complexType mixed="true">
      <xs:group minOccurs="0" maxOccurs="unbounded" ref="coreinlines"/>
      <xs:attributeGroup ref="profiling.attributes"/>
      <xs:attributeGroup ref="xmlbase"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="example">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="title"/>
        <xs:choice maxOccurs="unbounded">
          <xs:element ref="lists"/>
          <xs:element ref="formalpara"/>
          <xs:element ref="para"/>
          <xs:element ref="screen"/>
          <xs:element ref="indexterm"/>
        </xs:choice>
      </xs:sequence>
      <xs:attribute name="id" type="xs:ID"/>
      <xs:attributeGroup ref="profiling.attributes"/>
      <xs:attributeGroup ref="xmlbase"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="para">
    <xs:complexType mixed="true">
      <xs:group minOccurs="0" maxOccurs="unbounded" ref="allinlines"/>
      <xs:attribute name="role"/>
      <xs:attributeGroup ref="profiling.attributes"/>
      <xs:attributeGroup ref="xmlbase"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="formalpara">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="title"/>
        <xs:element ref="para"/>
      </xs:sequence>
      <xs:attribute name="id" type="xs:ID"/>
      <xs:attribute name="role"/>
      <xs:attributeGroup ref="profiling.attributes"/>
      <xs:attributeGroup ref="xmlbase"/>
    </xs:complexType>
  </xs:element>
  <!-- change add replaceable, command, emphasis, option  and xrefinlines to screen -->
  <xs:element name="screen">
    <xs:complexType mixed="true">
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:element ref="co"/>
        <xs:element ref="emphasis"/>
        <xs:element ref="replaceable"/>
        <xs:element ref="command"/>
        <xs:element ref="option"/>
        <xs:element ref="phrase"/>
        <xs:element ref="xrefinlines"/>
      </xs:choice>
      <xs:attributeGroup ref="profiling.attributes"/>
      <xs:attribute name="linenumbering">
        <xs:simpleType>
          <xs:restriction base="xs:token">
            <xs:enumeration value="numbered"/>
            <xs:enumeration value="unnumbered"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attributeGroup ref="xmlbase"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="remark">
    <xs:complexType mixed="true">
      <xs:group minOccurs="0" maxOccurs="unbounded" ref="allinlines"/>
      <xs:attribute name="role"/>
      <xs:attribute name="id" type="xs:ID"/>
      <xs:attributeGroup ref="profiling.attributes"/>
      <xs:attributeGroup ref="xmlbase"/>
    </xs:complexType>
  </xs:element>
  <!-- admonitions -->
  <xs:complexType name="admonition.module">
    <xs:sequence>
      <xs:element minOccurs="0" ref="title"/>
      <xs:choice maxOccurs="unbounded">
        <xs:element ref="para"/>
        <xs:element ref="remark"/>
        <xs:element ref="screen"/>
        <xs:element ref="simplelist"/>
        <xs:element ref="itemizedlist"/>
        <xs:element ref="variablelist"/>
        <xs:element ref="orderedlist"/>
      </xs:choice>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="tip" substitutionGroup="admonitions"/>
  <xs:element name="important" substitutionGroup="admonitions"/>
  <xs:element name="note" substitutionGroup="admonitions"/>
  <xs:element name="warning" substitutionGroup="admonitions"/>
  <!-- lists -->
  <xs:element name="itemizedlist" substitutionGroup="lists">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" ref="title"/>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="remark"/>
        <xs:element maxOccurs="unbounded" ref="listitem"/>
      </xs:sequence>
      <xs:attribute name="id" type="xs:ID"/>
      <xs:attribute name="mark" default="bullet">
        <xs:simpleType>
          <xs:restriction base="xs:token">
            <xs:enumeration value="bullet"/>
            <xs:enumeration value="dash"/>
            <xs:enumeration value="box"/>
            <xs:enumeration value="check"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="role"/>
      <xs:attribute name="spacing" default="normal">
        <xs:simpleType>
          <xs:restriction base="xs:token">
            <xs:enumeration value="compact"/>
            <xs:enumeration value="normal"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attributeGroup ref="profiling.attributes"/>
      <xs:attributeGroup ref="xmlbase"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="orderedlist" substitutionGroup="lists">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" ref="title"/>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="remark"/>
        <xs:element maxOccurs="unbounded" ref="listitem"/>
      </xs:sequence>
      <xs:attribute name="id" type="xs:ID"/>
      <xs:attribute name="spacing" default="normal">
        <xs:simpleType>
          <xs:restriction base="xs:token">
            <xs:enumeration value="compact"/>
            <xs:enumeration value="normal"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attributeGroup ref="profiling.attributes"/>
      <xs:attributeGroup ref="xmlbase"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="simplelist" substitutionGroup="lists">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="member"/>
      </xs:sequence>
      <xs:attributeGroup ref="profiling.attributes"/>
      <xs:attributeGroup ref="xmlbase"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="variablelist" substitutionGroup="lists">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" ref="title"/>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="remark"/>
        <xs:element maxOccurs="unbounded" ref="varlistentry"/>
      </xs:sequence>
      <xs:attribute name="id" type="xs:ID"/>
      <xs:attributeGroup ref="profiling.attributes"/>
      <xs:attributeGroup ref="xmlbase"/>
    </xs:complexType>
  </xs:element>
  <!--
    calloutlist is used with co tag to callout sections within screen
    we should review the use of calloutlist, callout and co
  -->
  <xs:element name="calloutlist" substitutionGroup="lists">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="callout"/>
      </xs:sequence>
      <xs:attributeGroup ref="profiling.attributes"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="callout">
    <xs:complexType>
      <xs:choice maxOccurs="unbounded">
        <xs:element ref="para"/>
        <xs:element ref="remark"/>
        <xs:element ref="lists"/>
        <xs:element ref="admonitions"/>
        <xs:element ref="screen"/>
        <xs:element ref="indexterm"/>
      </xs:choice>
      <xs:attribute name="arearefs" use="required" type="xs:IDREF"/>
      <xs:attributeGroup ref="profiling.attributes"/>
      <xs:attributeGroup ref="xmlbase"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="listitem">
    <xs:complexType>
      <xs:group maxOccurs="unbounded" ref="all"/>
      <xs:attributeGroup ref="profiling.attributes"/>
      <xs:attributeGroup ref="xmlbase"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="member">
    <xs:complexType mixed="true">
      <xs:group minOccurs="0" maxOccurs="unbounded" ref="allinlines"/>
      <xs:attributeGroup ref="profiling.attributes"/>
      <xs:attributeGroup ref="xmlbase"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="varlistentry">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="term"/>
        <xs:element ref="listitem"/>
      </xs:sequence>
      <xs:attribute name="id" type="xs:ID"/>
      <xs:attributeGroup ref="profiling.attributes"/>
      <xs:attributeGroup ref="xmlbase"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="term">
    <xs:complexType mixed="true">
      <xs:group minOccurs="0" maxOccurs="unbounded" ref="allinlines"/>
      <xs:attributeGroup ref="profiling.attributes"/>
      <xs:attributeGroup ref="xmlbase"/>
    </xs:complexType>
  </xs:element>
  <!-- procedure -->
  <xs:element name="procedure">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" ref="title"/>
        <xs:group minOccurs="0" maxOccurs="unbounded" ref="all"/>
        <xs:element maxOccurs="unbounded" ref="step"/>
      </xs:sequence>
      <xs:attribute name="id" type="xs:ID"/>
      <xs:attributeGroup ref="profiling.attributes"/>
      <xs:attributeGroup ref="xmlbase"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="step">
    <xs:complexType>
      <xs:sequence>
        <xs:choice>
          <xs:element ref="para"/>
          <xs:element ref="formalpara"/>
        </xs:choice>
        <xs:group minOccurs="0" maxOccurs="unbounded" ref="all"/>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="substeps"/>
      </xs:sequence>
      <xs:attribute name="id" type="xs:ID"/>
      <xs:attribute name="performance" default="required">
        <xs:simpleType>
          <xs:restriction base="xs:token">
            <xs:enumeration value="optional"/>
            <xs:enumeration value="required"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attributeGroup ref="profiling.attributes"/>
      <xs:attributeGroup ref="xmlbase"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="substeps">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="step"/>
      </xs:sequence>
      <xs:attribute name="id" type="xs:ID"/>
      <xs:attribute name="performance" default="required">
        <xs:simpleType>
          <xs:restriction base="xs:token">
            <xs:enumeration value="optional"/>
            <xs:enumeration value="required"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attributeGroup ref="profiling.attributes"/>
      <xs:attributeGroup ref="xmlbase"/>
    </xs:complexType>
  </xs:element>
  <!-- tables -->
  <xs:element name="informaltable" substitutionGroup="tables">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="tgroup"/>
      </xs:sequence>
      <xs:attribute name="frame">
        <xs:simpleType>
          <xs:restriction base="xs:token">
            <xs:enumeration value="topbot"/>
            <xs:enumeration value="none"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="rowsep"/>
      <xs:attribute name="pgwide"/>
      <xs:attributeGroup ref="profiling.attributes"/>
      <xs:attributeGroup ref="xmlbase"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="table" substitutionGroup="tables">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="title"/>
        <xs:element ref="tgroup"/>
      </xs:sequence>
      <xs:attribute name="id" type="xs:ID"/>
      <xs:attribute name="frame">
        <xs:simpleType>
          <xs:restriction base="xs:token">
            <xs:enumeration value="topbot"/>
            <xs:enumeration value="none"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="rowsep"/>
      <xs:attribute name="pgwide"/>
      <xs:attributeGroup ref="profiling.attributes"/>
      <xs:attributeGroup ref="xmlbase"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="tgroup">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="colspec"/>
        <xs:element minOccurs="0" ref="thead"/>
        <xs:element ref="tbody"/>
      </xs:sequence>
      <xs:attribute name="cols" use="required"/>
      <xs:attribute name="tgroupstyle"/>
      <xs:attribute name="align">
        <xs:simpleType>
          <xs:restriction base="xs:token">
            <xs:enumeration value="center"/>
            <xs:enumeration value="char"/>
            <xs:enumeration value="justify"/>
            <xs:enumeration value="left"/>
            <xs:enumeration value="right"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="valign">
        <xs:simpleType>
          <xs:restriction base="xs:token">
            <xs:enumeration value="bottom"/>
            <xs:enumeration value="middle"/>
            <xs:enumeration value="top"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attributeGroup ref="profiling.attributes"/>
      <xs:attributeGroup ref="xmlbase"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="colspec">
    <xs:complexType>
      <xs:attribute name="colnum"/>
      <xs:attribute name="colname"/>
      <xs:attribute name="colwidth"/>
      <xs:attribute name="align">
        <xs:simpleType>
          <xs:restriction base="xs:token">
            <xs:enumeration value="center"/>
            <xs:enumeration value="justify"/>
            <xs:enumeration value="left"/>
            <xs:enumeration value="right"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attributeGroup ref="xmlbase"/>
      <xs:attributeGroup ref="profiling.attributes"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="thead">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="colspec"/>
        <xs:element maxOccurs="unbounded" ref="row"/>
      </xs:sequence>
      <xs:attributeGroup ref="profiling.attributes"/>
      <xs:attributeGroup ref="xmlbase"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="tbody">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="row"/>
      </xs:sequence>
      <xs:attributeGroup ref="profiling.attributes"/>
      <xs:attributeGroup ref="xmlbase"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="row">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="entry"/>
      </xs:sequence>
      <xs:attribute name="rowsep"/>
      <xs:attribute name="id" type="xs:ID"/>
      <xs:attribute name="valign">
        <xs:simpleType>
          <xs:restriction base="xs:token">
            <xs:enumeration value="bottom"/>
            <xs:enumeration value="middle"/>
            <xs:enumeration value="top"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attributeGroup ref="profiling.attributes"/>
      <xs:attributeGroup ref="xmlbase"/>
    </xs:complexType>
  </xs:element>
  <!--
    novdoc entry included tblhead and tsubhead for which no docbook
    counterpart exists. May need to find alternatives?
  -->
  <xs:element name="entry">
    <xs:complexType>
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:element ref="admonitions"/>
        <xs:element ref="mediaobject"/>
        <xs:element ref="para"/>
        <xs:element ref="screen"/>
        <xs:element ref="formalpara"/>
        <xs:element ref="itemizedlist"/>
        <xs:element ref="orderedlist"/>
        <xs:element ref="simplelist"/>
        <xs:element ref="remark"/>
      </xs:choice>
      <xs:attribute name="align">
        <xs:simpleType>
          <xs:restriction base="xs:token">
            <xs:enumeration value="center"/>
            <xs:enumeration value="justify"/>
            <xs:enumeration value="left"/>
            <xs:enumeration value="right"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="colname"/>
      <xs:attribute name="namest"/>
      <xs:attribute name="nameend"/>
      <xs:attribute name="morerows"/>
      <xs:attribute name="valign">
        <xs:simpleType>
          <xs:restriction base="xs:token">
            <xs:enumeration value="bottom"/>
            <xs:enumeration value="middle"/>
            <xs:enumeration value="top"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attributeGroup ref="profiling.attributes"/>
      <xs:attributeGroup ref="xmlbase"/>
    </xs:complexType>
  </xs:element>
  <!-- figures -->
  <xs:element name="figure" substitutionGroup="figures">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="title"/>
        <xs:element maxOccurs="unbounded" ref="mediaobject"/>
      </xs:sequence>
      <xs:attribute name="pgwide"/>
      <xs:attribute name="id" type="xs:ID"/>
      <xs:attributeGroup ref="profiling.attributes"/>
      <xs:attributeGroup ref="xmlbase"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="informalfigure" substitutionGroup="figures">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="mediaobject"/>
      </xs:sequence>
      <xs:attribute name="pgwide"/>
      <xs:attributeGroup ref="profiling.attributes"/>
      <xs:attributeGroup ref="xmlbase"/>
    </xs:complexType>
  </xs:element>
  <!--
    provo doc has required a text description for all graphics where suse
    has not. textobject is optional but we might discuss this further
  -->
  <xs:element name="inlinemediaobject">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" ref="textobject"/>
        <xs:element maxOccurs="unbounded" ref="imageobject"/>
      </xs:sequence>
      <xs:attributeGroup ref="profiling.attributes"/>
      <xs:attributeGroup ref="xmlbase"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="mediaobject">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="textobject"/>
        <xs:element maxOccurs="unbounded" ref="imageobject"/>
      </xs:sequence>
      <xs:attributeGroup ref="profiling.attributes"/>
      <xs:attributeGroup ref="xmlbase"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="imageobject">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="imagedata">
          <xs:attribute name="role"/>
          <xs:attributeGroup ref="profiling.attributes"/>
          <xs:attributeGroup ref="xmlbase"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="imagedata">
    <xs:sequence>
      <xs:element ref="imagedata"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="imagedata">
    <xs:complexType>
      <xs:attribute name="fileref"/>
      <xs:attribute name="width"/>
      <xs:attribute name="format"/>
      <xs:attributeGroup ref="profiling.attributes"/>
      <xs:attributeGroup ref="xmlbase"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="textobject">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="phrase"/>
      </xs:sequence>
      <xs:attribute name="role" use="required">
        <xs:simpleType>
          <xs:restriction base="xs:token">
            <xs:enumeration value="description"/>
            <xs:enumeration value="longdescription"/>
            <xs:enumeration value="screencappath"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attributeGroup ref="profiling.attributes"/>
      <xs:attributeGroup ref="xmlbase"/>
    </xs:complexType>
  </xs:element>
  <!-- glossary -->
  <xs:element name="glossary">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="title"/>
        <xs:choice minOccurs="0" maxOccurs="unbounded">
          <xs:element ref="para"/>
          <xs:element ref="formalpara"/>
          <xs:element ref="remark"/>
        </xs:choice>
        <xs:choice>
          <xs:element maxOccurs="unbounded" ref="glossentry"/>
          <xs:element maxOccurs="unbounded" ref="glossdiv"/>
        </xs:choice>
      </xs:sequence>
      <xs:attribute name="id" type="xs:ID"/>
      <xs:attributeGroup ref="profiling.attributes"/>
      <xs:attributeGroup ref="xmlbase"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="glossdiv">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="title"/>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="remark"/>
        <xs:element maxOccurs="unbounded" ref="glossentry"/>
      </xs:sequence>
      <xs:attribute name="id" type="xs:ID"/>
      <xs:attributeGroup ref="profiling.attributes"/>
      <xs:attributeGroup ref="xmlbase"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="glossentry">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="glossterm"/>
        <xs:element maxOccurs="unbounded" ref="glossdef"/>
      </xs:sequence>
      <xs:attribute name="id" type="xs:ID"/>
      <xs:attributeGroup ref="profiling.attributes"/>
      <xs:attributeGroup ref="xmlbase"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="glossterm">
    <xs:complexType mixed="true">
      <xs:group minOccurs="0" maxOccurs="unbounded" ref="basicinlines"/>
      <xs:attributeGroup ref="profiling.attributes"/>
      <xs:attributeGroup ref="xmlbase"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="glossdef">
    <xs:complexType>
      <xs:choice maxOccurs="unbounded">
        <xs:element ref="para"/>
        <xs:element ref="remark"/>
      </xs:choice>
      <xs:attributeGroup ref="profiling.attributes"/>
      <xs:attributeGroup ref="xmlbase"/>
    </xs:complexType>
  </xs:element>
  <!-- indexterm -->
  <xs:element name="indexterm">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" ref="primary"/>
        <xs:choice minOccurs="0">
          <xs:sequence>
            <xs:element ref="secondary"/>
            <xs:choice minOccurs="0">
              <xs:sequence>
                <xs:element ref="tertiary"/>
                <xs:choice minOccurs="0">
                  <xs:element ref="see"/>
                  <xs:element maxOccurs="unbounded" ref="seealso"/>
                </xs:choice>
              </xs:sequence>
              <xs:element ref="see"/>
              <xs:element maxOccurs="unbounded" ref="seealso"/>
            </xs:choice>
          </xs:sequence>
          <xs:element ref="see"/>
          <xs:element maxOccurs="unbounded" ref="seealso"/>
        </xs:choice>
      </xs:sequence>
      <xs:attributeGroup ref="profiling.attributes"/>
      <xs:attributeGroup ref="xmlbase"/>
      <xs:attribute name="startref" type="xs:IDREF"/>
      <xs:attribute name="role"/>
      <xs:attribute name="class">
        <xs:simpleType>
          <xs:restriction base="xs:token">
            <xs:enumeration value="endofrange"/>
            <xs:enumeration value="singular"/>
            <xs:enumeration value="startofrange"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="id" type="xs:ID"/>
    </xs:complexType>
  </xs:element>
  <!-- content for these???? -->
  <xs:element name="primary">
    <xs:complexType mixed="true">
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="phrase"/>
      </xs:sequence>
      <xs:attribute name="sortas"/>
      <xs:attributeGroup ref="profiling.attributes"/>
      <xs:attributeGroup ref="xmlbase"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="secondary">
    <xs:complexType mixed="true">
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="phrase"/>
      </xs:sequence>
      <xs:attribute name="sortas"/>
      <xs:attributeGroup ref="profiling.attributes"/>
      <xs:attributeGroup ref="xmlbase"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="tertiary">
    <xs:complexType mixed="true">
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="phrase"/>
      </xs:sequence>
      <xs:attribute name="sortas"/>
      <xs:attributeGroup ref="profiling.attributes"/>
      <xs:attributeGroup ref="xmlbase"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="see">
    <xs:complexType mixed="true">
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="phrase"/>
      </xs:sequence>
      <xs:attributeGroup ref="profiling.attributes"/>
      <xs:attributeGroup ref="xmlbase"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="seealso">
    <xs:complexType mixed="true">
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="phrase"/>
      </xs:sequence>
      <xs:attributeGroup ref="profiling.attributes"/>
      <xs:attributeGroup ref="xmlbase"/>
    </xs:complexType>
  </xs:element>
  <!-- authorgroup -->
  <xs:element name="authorgroup">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="author"/>
      </xs:sequence>
      <xs:attribute name="role"/>
      <xs:attributeGroup ref="profiling.attributes"/>
      <xs:attributeGroup ref="xmlbase"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="author">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="firstname"/>
        <xs:element ref="surname"/>
      </xs:sequence>
      <xs:attributeGroup ref="profiling.attributes"/>
      <xs:attributeGroup ref="xmlbase"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="firstname">
    <xs:complexType mixed="true">
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:element ref="phrase"/>
        <xs:element ref="remark"/>
      </xs:choice>
      <xs:attributeGroup ref="profiling.attributes"/>
      <xs:attributeGroup ref="xmlbase"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="surname">
    <xs:complexType mixed="true">
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:element ref="phrase"/>
        <xs:element ref="remark"/>
      </xs:choice>
      <xs:attributeGroup ref="profiling.attributes"/>
      <xs:attributeGroup ref="xmlbase"/>
    </xs:complexType>
  </xs:element>
  <!-- msgset -->
  <xs:element name="msgset">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="simplemsgentry"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="simplemsgentry">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="msgtext"/>
        <xs:element maxOccurs="unbounded" ref="msgexplan"/>
      </xs:sequence>
      <xs:attribute name="id" type="xs:ID"/>
      <xs:attributeGroup ref="xmlbase"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="msgtext">
    <xs:complexType>
      <xs:choice maxOccurs="unbounded">
        <xs:element ref="para"/>
        <xs:element ref="remark"/>
      </xs:choice>
    </xs:complexType>
  </xs:element>
  <xs:element name="msgexplan">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="title"/>
        <xs:element ref="para"/>
        <xs:choice minOccurs="0" maxOccurs="unbounded">
          <xs:group ref="all"/>
          <xs:element ref="procedure"/>
        </xs:choice>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <!-- misc -->
  <xs:element name="legalnotice">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" ref="title"/>
        <xs:choice maxOccurs="unbounded">
          <xs:element ref="simplelist"/>
          <xs:element ref="para"/>
          <xs:element ref="formalpara"/>
        </xs:choice>
      </xs:sequence>
      <xs:attribute name="id" type="xs:ID"/>
      <xs:attributeGroup ref="profiling.attributes"/>
      <xs:attributeGroup ref="xmlbase"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="date">
    <xs:complexType mixed="true">
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:element ref="phrase"/>
        <xs:element ref="superscript"/>
      </xs:choice>
      <xs:attributeGroup ref="profiling.attributes"/>
      <xs:attributeGroup ref="xmlbase"/>
    </xs:complexType>
  </xs:element>
  <!-- refentry -->
  <xs:element name="refentry">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" ref="refmeta"/>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="remark"/>
        <xs:element ref="refnamediv"/>
        <xs:element maxOccurs="unbounded" ref="refsect1"/>
      </xs:sequence>
      <xs:attribute name="id" type="xs:ID"/>
      <xs:attributeGroup ref="profiling.attributes"/>
      <xs:attributeGroup ref="xmlbase"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="refmeta">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="refentrytitle"/>
        <xs:element minOccurs="0" ref="manvolnum"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="refentrytitle">
    <xs:complexType mixed="true">
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:element ref="command"/>
        <xs:element ref="envar"/>
        <xs:element ref="literal"/>
        <xs:element ref="replaceable"/>
        <xs:element ref="filename"/>
        <xs:element ref="guiinlines"/>
      </xs:choice>
      <xs:attribute name="role"/>
      <xs:attributeGroup ref="xmlbase"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="manvolnum" type="xs:string"/>
  <xs:element name="refnamediv">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="refname"/>
        <xs:element ref="refpurpose"/>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="refclass"/>
        <xs:choice minOccurs="0" maxOccurs="unbounded">
          <xs:element ref="link"/>
          <xs:element ref="ulink"/>
          <xs:element ref="remark"/>
        </xs:choice>
      </xs:sequence>
      <xs:attributeGroup ref="profiling.attributes"/>
      <xs:attributeGroup ref="xmlbase"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="refname">
    <xs:complexType mixed="true">
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:element ref="command"/>
        <xs:element ref="envar"/>
        <xs:element ref="literal"/>
        <xs:element ref="replaceable"/>
        <xs:element ref="filename"/>
        <xs:element ref="guiinlines"/>
      </xs:choice>
      <xs:attributeGroup ref="profiling.attributes"/>
      <xs:attributeGroup ref="xmlbase"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="refpurpose">
    <xs:complexType mixed="true">
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:element ref="xrefinlines"/>
        <xs:group ref="basicinlines"/>
        <xs:element ref="guiinlines"/>
      </xs:choice>
      <xs:attributeGroup ref="profiling.attributes"/>
      <xs:attributeGroup ref="xmlbase"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="refclass">
    <xs:complexType mixed="true">
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="application"/>
      </xs:sequence>
      <xs:attributeGroup ref="profiling.attributes"/>
      <xs:attributeGroup ref="xmlbase"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="refsect1">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="title"/>
        <xs:choice minOccurs="0" maxOccurs="unbounded">
          <xs:group ref="all"/>
          <xs:element ref="procedure"/>
        </xs:choice>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="refsect2"/>
      </xs:sequence>
      <xs:attribute name="id" type="xs:ID"/>
      <xs:attributeGroup ref="profiling.attributes"/>
      <xs:attributeGroup ref="xmlbase"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="refsect2">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="title"/>
        <xs:choice minOccurs="0" maxOccurs="unbounded">
          <xs:group ref="all"/>
          <xs:element ref="procedure"/>
        </xs:choice>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="refsect3"/>
      </xs:sequence>
      <xs:attribute name="id" type="xs:ID"/>
      <xs:attributeGroup ref="profiling.attributes"/>
      <xs:attributeGroup ref="xmlbase"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="refsect3">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="title"/>
        <xs:choice minOccurs="0" maxOccurs="unbounded">
          <xs:group ref="all"/>
          <xs:element ref="procedure"/>
        </xs:choice>
      </xs:sequence>
      <xs:attribute name="id" type="xs:ID"/>
      <xs:attributeGroup ref="profiling.attributes"/>
      <xs:attributeGroup ref="xmlbase"/>
    </xs:complexType>
  </xs:element>
</xs:schema>
<!-- change added condition and userlevel -->
<!-- change added role to Chapter -->
<!-- pgwide used to set image at left edge or current indent -->
<!-- change added role and spacing -->
<!-- change added spacing -->
<!-- id on substeps was probably a mistake -->
<!-- change added role -->
<!-- change added role attribute -->
<!--
  This parameter entity "deactivates" all IDREF(S).
  
  So somebody can validate a separate file even if some
  xref/link elements points outside this file.
  
-->
<!--
  The NOVDOC.DEACTIVATE.IDREF p.e. is mutually exclusive
  to the following declaration.
  This p.e. should be never touched.
-->
<!-- End of %__HIDE__ -->
<!--
  Entities which are used by SUSE
  
  If someone doesn't need that, it can be switched off with the proper
  parameter entity declaration, e.g.:
  <!ENTITY % ISOlat1.module "IGNORE">
-->
<!-- end of ISOlat1.module -->
<!-- end of ISOlat2.module -->
<!-- end of ISOnum.module -->
<!-- end of ISOpub.module -->
<!--
  <!ENTITY % NOVELLmisc.module "INCLUDE">
  <![ %NOVELLmisc.module; [
   <!ENTITY % NOVELLmisc PUBLIC "-//Novell//ENTITIES Misc//EN" "novell.ent">
  <!- -end of NOVELLmisc.module- ->]]>
  
  <![ %NOVELLmisc.module; [
  %NOVELLmisc;
  ]]>
-->
